<div id="built_by">
  <p>It's Free Real Estate.</p>
  <p>By <a href="https://www.twitter.com/fergusbarker" target="blank">@fergusbarker</a>.</p>
  <p>Conceptually by Tim &amp; Eric.</p></div>

<div id="itsfree"><p>alt</p></div>
<script type="text/javascript">var _gauges=_gauges || [];(function(){var t=document.createElement('script');t.type='text/javascript';t.async=true;t.id='gauges-tracker';t.setAttribute('data-site-id', '4f5c5f66613f5d6c82000001');t.src='//secure.gaug.es/track.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(t, s);})();</script>
